<div class="container-fluid mt-5" style="max-width: 50vw;">
  <form action="/change-passwordF" method="post" id="changepasswordF" name="changePasswordF">
    <div class="form-wrapper">
      <label>New password </label>
      <input type="password" name="newPass" onkeyup = "passValidate()" class="form-control" id="password">
      <span id="password-len" class="text-danger"></span>
    </div>

    <div class="form-wrapper">
      <label>Confirm new password</label>
      <input type="password" name="confirmPass" onkeyup = "matchPass()" class="form-control mb-2" id="confirmPassword">
      <span id="password-error" class="text-danger mb-2"></span>
    </div>

  
    <button type="submit" class="btn btn-outline-primary-2">
      <span>SAVE CHANGE</span>
      <i class="icon-long-arrow-right"></i>
    </button>
  </form>
</div>
<script>
  function passValidate() {
        const validPassword = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
        const password = document.getElementById('password').value
        if (!validPassword.test(password)) {
            document.getElementById('password-len').innerHTML = 'Minimum eight characters, at least one letter, one number and one special character'
            return false
        } else {
            document.getElementById('password-len').innerHTML = ''
            return true
        }
    }

    function matchPass() {
        const password1 = document.changePasswordF.newPass.value;
        const password2 = document.changePasswordF.confirmPass.value;

        if (password1 === password2) {
            document.getElementById('password-error').innerHTML = ''
            return true;
        }
        else {
            document.getElementById('password-error').innerHTML = 'Enter correct password'
            return false
        }
    }

    const form = document.getElementById('changePasswordF')
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        if (formValidate()) {
            form.submit()
        } else {
            document.getElementById('form-error').innerHTML = 'Please Check All The Fields'
        }
    })
    function formValidate() {
        if (passValidate() && matchPass()) {
            return true
        } else {
            return false
        }
    }

</script>