
<div class="container">
    <div class="text-center" >
    <h1 class="page-title mt-5">Order Placed</h1>
    <a href="/" class="btn btn-outline-primary-2 btn-minwidth-lg mt-3">
      <span>BACK TO HOMEPAGE</span>
      <i class="icon-long-arrow-right"></i>
      </a>
      <div>
      <a href="/shop" class="btn btn-outline-dark-2 btn-minwidth-lg mt-3">
        <span>CONTINUE SHOPPING</span><i class="icon-long-arrow-right"></i>
      </a>
      </div>
    
    </div><!-- End .page-header -->
  </div><!-- End .container -->